<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="content layout">
			<h2 class="home-title">All Blogs</h2>

			<div class="blogs">
				<!-- prettier-ignore -->
				<% if (blogs.length > 0) {%>
				<!-- prettier-ignore -->
				<% blogs.forEach((blog) => { %>
				<div class="blog">
					<h3 class="title"><%= blog.title %></h3>
					<p class="snippet"><%= blog.snippet %></p>
				</div>
				<!-- prettier-ignore -->
				<% }) %>
				<!-- prettier-ignore -->
				<% } else { %>
				<p class="no-blog-p">there are no blogs to display</p>
				<% } %>
			</div>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
