<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="blogs content layout">
			<h2>All Blogs</h2>

			<!-- prettier-ignore -->
			<% if (blogs.length > 0) {%>
			<!-- prettier-ignore -->
			<% blogs.forEach((blog) => { %>
			<!-- prettier-ignore -->
			<h3 class="title"><%= blog.title %></h3>
			<p class="snippet"><%= blog.snippet %></p>
			<!-- prettier-ignore -->
			<% }) %>
			<!-- prettier-ignore -->
			<% } else { %>
			<p>there are no blogs to display</p>
			<% } %>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
