<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head.ejs') %>
   <body>
      <%- include('./partials/nav.ejs') %>
      <div class="layout single-blog">
         <h1 class="title"><%- blog.title %></h1>
         <p class="snippet"><%- blog.snippet %></p>
         <p class="body"><%- blog.body %></p>
      </div>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>
